<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.11">
      <gitLabConnection>NC GitLab</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@1.0.3">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.nirima.reactor.ReactorJobProperty plugin="reactor-plugin@0.1.2">
      <reactorScript></reactorScript>
    </com.nirima.reactor.ReactorJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.30">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.76">
          <name>VERSION</name>
          <description></description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>10</visibleItemCount>
          <type>PT_SINGLE_SELECT</type>
          <propertyFile>/var/jenkins_home/manifests/prod.platform.databases_mongodb-l2ci/versions.txt</propertyFile>
          <propertyKey>version</propertyKey>
          <defaultValue>master</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
          <projectName>mongodb-integration-tests</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OPENSHIFT_USER</name>
          <description></description>
          <defaultValue>admin</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>OPENSHIFT_PASSWORD</name>
          <description></description>
          <defaultValue>{AQAAABAAAAAQwIDEUd0kdmHpXcaEFqzohMgByZB7D2NKJGT9Ytb5TvA=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLOUD_URL</name>
          <description></description>
          <defaultValue>ci-master.openshift.sdntest.netcracker.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OPENSHIFT_WORKSPACE</name>
          <description></description>
          <defaultValue>mongodb-cluster</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TAGS</name>
          <description></description>
          <defaultValue>NOTha</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TEST_IMAGE</name>
          <description>Use if VERSION does not contain image</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MONGO_ROOT_USER</name>
          <description></description>
          <defaultValue>root</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>MONGO_ROOT_PASSWORD</name>
          <description></description>
          <defaultValue>{AQAAABAAAAAQNQNQMvIyXDIhcx5nQpN2gTh40l8x2MUOrBYEVbBgBc4=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BACKUP_DAEMON_API_CREDENTIALS_USERNAME</name>
          <description></description>
          <defaultValue>backup</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>BACKUP_DAEMON_API_CREDENTIALS_PASSWORD</name>
          <description></description>
          <defaultValue>{AQAAABAAAAAQGSRAjmJFEP1xwCSalW3Rg1lYGJVXztqguzdCgyAU/LE=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DBAAS_AGGREGATOR_USERNAME</name>
          <description></description>
          <defaultValue>dbaas-aggregator</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>DBAAS_AGGREGATOR_PASSWORD</name>
          <description></description>
          <defaultValue>{AQAAABAAAAAgox3dou0ihm2IZkKXRcr37Q0suMf76t6X2TTdt+EjlFYTfNuFI8UDm/xkXUEADsqB}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EXTERNAL_BACKUP_PATH</name>
          <description></description>
          <defaultValue>external</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DATARS_HOST</name>
          <description></description>
          <defaultValue>datars10-0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LEFT_NODES_PATTERN</name>
          <description></description>
          <defaultValue>left</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RIGHT_NODES_PATTERN</name>
          <description></description>
          <defaultValue>right</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAIN_OS_SIDE</name>
          <description></description>
          <defaultValue>left</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WAIT_TIMEOUT</name>
          <description></description>
          <defaultValue>300</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set -x

eval $(cat ${JENKINS_HOME}/manifests/prod.platform.databases_mongodb-l2ci/${VERSION}/env.properties | grep mongo_tests)

if [[ -z $TEST_IMAGE ]] &amp;&amp; [[ ! -z ${mongo_tests} ]]; then 
    export TEST_IMAGE=${mongo_tests}
fi

zipinfo ${JENKINS_HOME}/manifests/prod.platform.databases_mongodb-l2ci/${VERSION}/application.zip
unzip -o ${JENKINS_HOME}/manifests/prod.platform.databases_mongodb-l2ci/${VERSION}/application.zip &apos;prod.platform.databases_mongodb-l2ci/mongo-tests/*&apos; || true
cd prod.platform.databases_mongodb-l2ci/mongo-tests/ || true

KUBECONFIG=&quot;$(pwd)/config&quot;
export KUBECONFIG

chmod +x ./integration-tests/run.sh
                ./integration-tests/run.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.robot.RobotPublisher plugin="robot@1.6.5">
      <outputPath>./target/</outputPath>
      <reportFileName>report.html</reportFileName>
      <logFileName>log.html</logFileName>
      <outputFileName>output.xml</outputFileName>
      <disableArchiveOutput>false</disableArchiveOutput>
      <passThreshold>0.0</passThreshold>
      <unstableThreshold>0.0</unstableThreshold>
      <otherFiles>
        <string></string>
      </otherFiles>
      <enableCache>true</enableCache>
      <onlyCritical>true</onlyCritical>
    </hudson.plugins.robot.RobotPublisher>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@2.7.0">
      <config>
        <scriptFiles/>
        <groovyScripts/>
        <buildSteps>
          <org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
            <results>
              <string>SUCCESS</string>
              <string>NOT_BUILT</string>
              <string>ABORTED</string>
              <string>FAILURE</string>
              <string>UNSTABLE</string>
            </results>
            <role>BOTH</role>
            <buildSteps>
              <hudson.tasks.Shell>
                <command>KUBECONFIG=&quot;$(pwd)/config&quot;
export KUBECONFIG

rm -rf config
touch config

if [[ -z &quot;${OPENSHIFT_TOKEN}&quot; ]];
then
    oc login &quot;https://${CLOUD_URL}:8443&quot; -u &quot;${OPENSHIFT_USER}&quot; \
            -p &quot;${OPENSHIFT_PASSWORD}&quot; --insecure-skip-tls-verify
    OPENSHIFT_TOKEN=$(oc whoami -t)
else
    oc login &quot;https://${CLOUD_URL}:8443&quot; --token &quot;${OPENSHIFT_TOKEN}&quot; \
       --insecure-skip-tls-verify
fi

if [[ -z &quot;${OPENSHIFT_WORKSPACE}&quot; ]];
then
    export OPENSHIFT_WORKSPACE=&quot;mongodb-cluster&quot;
fi

oc project ${OPENSHIFT_WORKSPACE}

oc delete dc/mongo-tests || true</command>
              </hudson.tasks.Shell>
            </buildSteps>
          </org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
        </buildSteps>
        <markBuildUnstable>false</markBuildUnstable>
      </config>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
  </publishers>
  <buildWrappers/>
</project>